#editorjs {
    margin-left: 60px;
}

.editor-container {
    margin-left: auto;
    flex-grow: 1;
    overflow-y: auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}