.container {
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(157, 157, 157);
}

.placeholder > h1 {
    margin: 0;
}