.container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "notes" "editor";
    gap: 5px;
    height: 100%;
}

PageList {
    grid-area: notes;
    height: 100%;
}

Editor {
    grid-area: editor;
    height: 100%;
}