body, html {
    font-family: sans-serif;
    min-height: 100%;
}

:root {
    --primary: white;
    --accent: #88e2b7;
    --primary-font: black;
    --dark-accent: #2c5642;
    --background-secondary: #f1f1f1;
    --error-red: rgb(241 106 80);
    --error-border: darkred;
}

App {
    height: 100%;
}