html {
    background-color: white;
    color: black;
}

pre {
    white-space: pre-wrap;
    background-color: lightgray;
}

body {
    margin: 0;
}

#app {
    height: 100vh;
    text-align: center;
    font-family: 'Poppins';
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins-Regular.woff2') format('woff2');
}