body {
    margin: 0;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.katex-html {
    display: none;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.file-explorer {
    border-right: 2px solid black;
    padding: 5px 15px;
}

.file-explorer ul {
    padding: 0px;
}

.file-explorer li {
    list-style: none;
    cursor: pointer;
}

.pane {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 100%;
}

.markdown-editor {
    width: 100%;
    border: none;
    outline: none;
}